[include]
	path = .gitconfig.local
[color]
	ui = auto
[core]
	editor = vim
[credential]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[url "github:"]
	InsteadOf = https://github.com/
	InsteadOf = git@github.com:
